<% @cities.each do |city|  %>
  <h5>City ID: <%= city["id"] %></h5>
  <h2><%= city["name"] %>, <%= city["state"] %></h2>
  <h4>Region: <%= city["region"] %></h4>
  <h4>Geography: <%= city["geography"]["name"] %></h4>
<% end  %>